@tailwind base;
@tailwind components;
@tailwind utilities;


.hide-scrollbar {
    overflow: scroll;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
  
    /* Hide scrollbar in WebKit-based browsers (Chrome, Safari, etc.) */
    &::-webkit-scrollbar {
      display: none;
    }
  }